* {
    font-family: fantasy, sans-serif;
    margin: auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}


html {
  position: relative;
  min-height: 100%;
  height: 100%;
  
}

header {
    font-family: fantasy;
    font-size: x-large;

}

body {
  width: 100%;
}



.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #00b3db;
    font-size: large;
}

.home {
    padding: 0;
}

.container {	
	width: 650px;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 2rem 9%;
    padding: 16px;
}

.container label input {
    padding: 10%;
}

.container input {
    margin: 10px;
}

.container b {
    font-size: 20px;
}

.box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;
}

section {
    padding: 3rem 9%;
}

.second {
    justify-content: flex-end;
   
}

.content {
    font-size: 4rem;
    color: black;
    
}

.content2 {
    text-align: center;
}

h3 {
    font-size: 6rem;
    color: #0026ff;
    padding-top: .5rem;
    text-transform: uppercase;
    box-shadow: 10px;
}

p {
    line-height: 2;
    color: black;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    border: border;
    color: black;
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

.text-danger {
    font-family: fantasy, sans-serif;
}



.btnSubtmit{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: black;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.active{
    background-color: #007bff;
  }
  


.menu {
    width: 100%;
    text-align: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 2px auto;
    padding: 0;
    overflow: hidden;
    align-content: center;
    text-align: center;
    line-height: 1.5;

}

li {
    display: inline;
    float: left;
}

li a {
    color: #000;
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 120px;
    text-decoration: none;
}

li a:hover{
    background-color: #155fe7;
    color: white!important;
  }

footer { 
    text-align: center;
    color: white;
    display: block;
    justify-content: center;
    bottom: 0;
    margin-top: auto;
  }

footer a {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* FORMULARIO */

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
 
  button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  
  
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 50%; 
    height: 100%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  }
  

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  

  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }
  
  /* CARD */
.containerC {
    display: inline-block;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container-card {
    padding: 2px 16px;
}