@{
    ViewData["Title"] = "Promoções";
}
<body style="background-image:url(../img1.png);">

<div class="container">
            <h3>Promoções para sua viagem</h3>
   <div class="row">
            <div class="col-3">
            <div class="card" style="width: 18rem;">
          <img src="../ponto1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">30% de Desconto</h5>
            <p class="card-text">Tenha uma ótima experiência viajando com promoções que cabe no seu bolso.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Almoço grátis</li>
            <li class="list-group-item">Hotel mais barato</li>
            <li class="list-group-item">Motorista com desconto</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Garanta já</a>
            
            </div>
            </div>
            </div>

            <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img src="../ponto2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">40% de Desconto</h5>
                <p class="card-text">Tenha uma ótima experiência viajando com promoções que cabe no seu bolso.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Café da manhã de graça</li>
                <li class="list-group-item">Hotel com piscina</li>
                <li class="list-group-item">Guia Turista</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Garanta já</a>
                
                    </div>
                </div>
            </div>

            <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img src="../ponto3.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">15% de Desconto</h5>
                <p class="card-text">Tenha uma ótima experiência viajando com promoções que cabe no seu bolso.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Almoço</li>
                <li class="list-group-item">Transporte gratuito</li>
                <li class="list-group-item">Dia de SPA</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Garanta já</a>
                
                    </div>
                </div>
            </div>

            <div class="col-3">
            <div class="card" style="width: 18rem;">
              <img src="../ponto4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">20% de Desconto</h5>
                <p class="card-text">Tenha uma ótima experiência viajando com promoções que cabe no seu bolso.</p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Café da manhã</li>
                <li class="list-group-item">Almoço</li>
                <li class="list-group-item">Jantar</li>
              </ul>
              <div class="card-body">
                <a href="#" class="card-link">Garanta já</a>
               
                    </div>
                </div>
            </div>
        </div>
    </div>  
</body>